In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
filename = "foia_150k_plus.csv"

df = pd.read_csv(filename, parse_dates=['DateApproved'])
df.drop(['NonProfit'], axis='columns', inplace=True)

In [4]:
df.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,295.0,2020-04-14,"National Cooperative Bank, National Association",AK - 00
1,a $5-10 million,CRUZ CONSTRUCTION INC,7000 East Palmer Wasilla Hwy,PALMER,AK,99645.0,238190.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,215.0,2020-04-15,First National Bank Alaska,AK - 00
2,a $5-10 million,"I. C. E. SERVICES, INC",2606 C Street,ANCHORAGE,AK,99503.0,722310.0,Corporation,Unanswered,Unanswered,Unanswered,367.0,2020-04-11,KeyBank National Association,AK - 00
3,a $5-10 million,KATMAI HEALTH SERVICES LLC,"11001 O'MALLEY CENTRE DRIVE, SUITE 204",ANCHORAGE,AK,99515.0,621111.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,0.0,2020-04-29,Truist Bank d/b/a Branch Banking & Trust Co,AK - 00
4,a $5-10 million,MATANUSKA TELEPHONE ASSOCIATION,1740 S. CHUGACH ST,PALMER,AK,99645.0,517311.0,Cooperative,Unanswered,Unanswered,Unanswered,267.0,2020-06-10,CoBank ACB,AK - 00

In [7]:
df['BusinessName'].isnull().sum()

8

In [8]:
df.dropna(subset=['BusinessName'], inplace=True)

In [9]:
filtered = df[df['State'].str.contains('OR')]
filtered

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
492015,a $5-10 million,"ACME CONSTRUCTION SUPPLY CO., INC.",4040 DOUGLAS WAY,LAKE OSWEGO,OR,97035.0,423710.0,Corporation,Unanswered,Unanswered,Unanswered,367.0,2020-04-14,Fifth Third Bank,OR - 01
492016,a $5-10 million,"CHARTER MECHANICAL CONTRACTORS, INC.",7940 SW Hunziker Rd,PORTLAND,OR,97223.0,238220.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,299.0,2020-04-27,Columbia State Bank,OR - 01
492017,a $5-10 million,"CHRISTENSON ELECTRIC, INC.",17201 NE Sacramento St,PORTLAND,OR,97230.0,561499.0,Corporation,Unanswered,Male Owned,Non-Veteran,NaN,2020-04-15,Banner Bank,OR - 03
492018,a $5-10 million,COLLINS PINE COMPANY,29100 SW Town Center Loop,WILSONVILLE,OR,97070.0,321113.0,Corporation,Unanswered,Unanswered,Unanswered,331.0,2020-06-22,"U.S. Bank, National Association",OR - 01
492019,a $5-10 million,"COLUMBIA STEEL CASTING CO., INC.",10425 N Bloss Ave,PORTLAND,OR,97203.0,331210.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,260.0,2020-04-11,KeyBank National Association,OR - 03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501234,"e $150,000-350,000",ZEVEZ CORP,9115 SW Oleson Rd #104,PORTLAND,OR,97223.0,522320.0,Corporation,Unanswered,Unanswered,Unanswered,14.0,2020-04-14,Umpqua Bank,OR - 01
501235,"e $150,000-350,000","ZIM, INC.",12006 SW Garden Place,PORTLAND,OR,97223.0,236118.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,20.0,2020-04-11,KeyBank National Association,OR - 01
501236,"e $150,000-350,000","ZION EVANGELICAL LUTHERAN CHURCH, (U.A.C.) UNA...",2745 NW Harrison,CORVALLIS,OR,97330.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,57.0,2020-04-29,Citizens Bank,OR - 04
501237,"e $150,000-350,000",ZIWATT INC,355 SE 65TH AVE.,PORTLAND,OR,97215.0,424490.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,2020-05-03,"Wells Fargo Bank, National Association",OR - 03
501238,"e $150,000-350,000",ZNE CORP,560 Hickory St. NW,ALBANY,OR,97321.0,722511.0,Corporation,White,Male Owned,Veteran,49.0,2020-04-13,KeyBank National Association,OR - 04

## Kanye
- Billionaires get million dollar loans

In [10]:
yeezy_bail = df[df['BusinessName'].str.contains('YEEZY')]
yeezy_bail

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
29024,b $2-5 million,YEEZY LLC,6 CENTERPOINTE DR #700,LA PALMA,CA,90623.0,448110.0,Limited Liability Company(LLC),Black or African American,Male Owned,Non-Veteran,106.0,2020-04-13,City National Bank,CA - 38

## Kushners
- Notice that FL Kushner and Kushney Attorneys received loan and NO jobs were retained

In [11]:
kushner_bail = df[df['BusinessName'].str.contains('KUSHNER')]
kushner_bail

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
49433,"d $350,000-1 million","KUSHNER CARLSON, PROFESSIONAL LAW CORPORATION",85 ENTERPRISE,ALISO VIEJO,CA,92656.0,541110.0,Corporation,Unanswered,Unanswered,Unanswered,44.0,2020-05-03,"MUFG Union Bank, National Association",CA - 45
169296,"e $150,000-350,000",KUSHNER AND KUSHNER ATTORNEYS,2121 W FIRST ST STE#100,FORT MYERS,FL,33901.0,541110.0,Corporation,Unanswered,Unanswered,Unanswered,0.0,2020-04-29,IBERIABANK,FL - 19
232992,"e $150,000-350,000",KUSHNER BECKER AND ASSOCIATES LTD,205 MICHIGAN AVE N,CHICAGO,IL,60601.0,NaN,Corporation,Unanswered,Unanswered,Unanswered,15.0,2020-05-03,"U.S. Bank, National Association",IL - 07
267014,"d $350,000-1 million","KUSHNER LAGRAIZE, LLC",3330 W Esplanade Ave,METAIRIE,LA,70002.0,541211.0,Corporation,Unanswered,Unanswered,Unanswered,53.0,2020-04-14,Regions Bank,LA - 01
363022,"d $350,000-1 million",KUSHNER AND KUSHNER PC,6739 FAIRVIEW RD STE C,CHARLOTTE,NC,28210.0,541110.0,Corporation,Unanswered,Unanswered,Unanswered,24.0,2020-04-29,First-Citizens Bank & Trust Company,NC - 09
386848,c $1-2 million,"JOSEPH KUSHNER HEBREW ACADEMY, INC.",110 South Orange Ave,LIVINGSTON,NJ,7039.0,611699.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,142.0,2020-04-05,Regal Bank,NJ - 07
400844,"e $150,000-350,000",KUSHNER DRAPERY MFG LLC,5305 RT 70,PENNSAUKEN,NJ,8109.0,314120.0,Limited Liability Company(LLC),Unanswered,Male Owned,Unanswered,21.0,2020-04-27,Republic First Bank d/b/a Republic Bank,NJ - 01
447101,"e $150,000-350,000",HOLLWICH KUSHNER ARCHITECTURE D.P.C. DBA HWKN ...,C/O MATTHIAS HOLLWICH 1 WHITEHALL ST FL 14,NEW YORK,NY,10004.0,541310.0,Corporation,Unanswered,Unanswered,Unanswered,11.0,2020-05-01,"JPMorgan Chase Bank, National Association",NY - 10
449343,"e $150,000-350,000",KUSHNER STUDIOS ARCHITECTURE &AMP; DESIGN PC,390 BROADWAY FL 4,NEW YORK,NY,10013.0,541310.0,Corporation,Unanswered,Unanswered,Unanswered,15.0,2020-05-03,"Bank of America, National Association",NY - 07